<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="/stylesheets/master.css">
    <link rel="stylesheet" href="/stylesheets/create.css">

    <title>Wiki Race - Create Race</title>
  </head>
  <body>
    <h1>Create a Race</h1>

    <form id="start-form" onsubmit="searchStart()">
      <label for="">From</label>
      <input id="input-start" type="text">
      <input type="submit" name="" value="Submit">
    </form>

    <form id="finish-form" style="display: none;" onsubmit="searchFinish()">
      <label for="">To</label>
      <input id="input-finish" type="text">
      <input type="submit" name="" value="Submit">
    </form>

    <br>

    <div style="display: none;" id="start-suggestion-div">
      <a id="start-suggestion"></a>
      <a href="#" onclick="handleInput('yes','start')" class="yes">Yes</a><a href="#" onclick="handleInput('no','start')" class="no">No</a>
    </div>

    <div style="display: none;" id="finish-suggestion-div">
      <a id="finish-suggestion"></a>
      <a href="#" onclick="handleInput('yes','finish')" class="yes">Yes</a><a href="#" onclick="handleInput('no','finish')" class="no">No</a>
    </div>

    <br>

    <h1><span id="search-start">?</span> to <span id="search-finish">?</span></h1>
    <a id="create-race" href="#" style="display: none;" onclick=createContest()>Race!</a>


  </body>
  <script src="javascripts/create/createRace.js"></script>
</html>
