<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome to Wiki Race</h1>
    <h1 id="current-player"></h1>

    <table id="races-table">
      <tr>
        <th>Player</th>
        <th>Starting Link</th>
        <th>Finishing Link</th>
        <th>Clicks</th>
        <th>Speed</th>
      </tr>
      <tbody id="races-table-content">
      </tbody>
    </table>

  </body>
  <script type="text/javascript">
    document.getElementById('current-player').innerHTML = sessionStorage.getItem('wiki-race-player')
  </script>
  <script src="javascripts/getAllRaces.js"></script>
</html>
