<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Hello from home page</h1>

    <table id="races-table">
      <tr>
        <th>Player</th>
        <th>Starting Link</th>
        <th>Finishing Link</th>
        <th>Clicks</th>
        <th>Speed</th>
      </tr>
      <tbody id="races-table-content">
      </tbody>
    </table>

  </body>
  <script src="javascripts/getAllRaces.js"></script>
</html>
