<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Wiki Race</title>
  </head>
  <body>
    <h1>Welcome to Wiki Race</h1>
    <h1 id="current-player"></h1>

    <form onsubmit="storeRandomRace()">
      <p id="random-start"></p>
      <p id="random-finish"></p>
      <input type="submit" value="Race">
    </form>
    <button onclick="newRandomRace()">New Race</button>

    <br>
    <br>

    <!-- <form onsubmit="storeNewRace()">
      <label for="">From</label>
      <input id="user-start" type="text">
      <label for="">To</label>
      <input id="user-finish" type="text">
      <input type="submit" name="" value="Race">
    </form>

    <br> -->

    <h2>Recent Races</h2>
    <table id="results-table">
      <tr>
        <th>Player</th>
        <th>Starting Link</th>
        <th>Finishing Link</th>
        <th>Clicks</th>
        <th>Speed</th>
      </tr>
      <tbody id="results-table-content">
      </tbody>
    </table>

    <!-- <h2>Search Stats for a Race</h2>
    <form onsubmit="getSpecificRace()">
      <input type="text" id="specific-start">
      <input type="text" id="specific-finish">
      <input type="submit" value="Search">
    </form>
    <table id="specific-race-table">
      <tr id="specific-race-header">
      </tr>
      <tbody id="specific-race-table-content">
      </tbody>
    </table> -->


  </body>
  <script type="text/javascript">
    document.getElementById('current-player').innerHTML = sessionStorage.getItem('wiki-race-player')
  </script>
  <script src="javascripts/home/getAllRaces.js"></script>
  <!-- <script src="javascripts/home/getSpecificRace.js"></script> -->
  <script src="javascripts/home/randomRace.js"></script>
  <script src="javascripts/home/storeRace.js"></script>
</html>
