<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="/stylesheets/master.css">
    <link rel="stylesheet" href="/stylesheets/home.css">

    <title>Wiki Race</title>
  </head>
  <body>
    <div id="container">

      <h1>Welcome to Wiki Race</h1>

      <div id="welcome">
        <h1 id="current-player"></h1>
        <a href="/">Change initials</a>
      </div>

      <div id="random-race">
        <h2>Start a Race</h2>
        <div id="random-links">
          <a id="random-start"></a>
          <p id="to"></p>
          <a id="random-finish"></a>
          <br>
          <br>
          <button class="race-button random-race-button" onclick="storeRandomRace()">Race!</button>
          <button class="race-button random-race-button" onclick="newRandomRace()">Another one</button>
        </div>
      </div>

      <div id="create-a-race">
        <h2>Create a Race</h2>
        <form id="start-form" onsubmit="searchStart()">
          <label for="">From</label>
          <input id="input-start" type="text">
          <input class="next-button" type="submit" value="Next">
        </form>

        <form id="finish-form" style="display: none;" onsubmit="searchFinish()">
          <label for="">To</label>
          <input id="input-finish" type="text">
          <input class="next-button" type="submit" value="Next">
        </form>

        <br>

        <div style="display: none;" id="start-suggestion-div">
          <a id="start-suggestion"></a>
          <a class="yes-button" href="#" onclick="handleInput('yes','start')" class="yes">Yes</a><a href="#" onclick="handleInput('no','start')" class="no">No</a>
        </div>

        <div style="display: none;" id="finish-suggestion-div">
          <a id="finish-suggestion"></a>
          <a class="yes-button" href="#" onclick="handleInput('yes','finish')" class="yes">Yes</a><a href="#" onclick="handleInput('no','finish')" class="no">No</a>
        </div>

        <p><span id="search-start">?</span> to <span id="search-finish">?</span></p>
        <a id="create-race" href="#" style="display: none;" onclick=createContest()>Race!</a>
      </div>

      <div id="recent-races">

        <h2>Recent Races</h2>
        <table id="results-table">
          <tr>
            <th>Player</th>
            <th>From</th>
            <th>To</th>
            <th>Clicks</th>
            <th>Speed</th>
          </tr>
          <tbody id="results-table-content">
          </tbody>
        </table>

      </div>

      <!-- <h2>Search Stats for a Race</h2>
      <form onsubmit="getSpecificRace()">
      <input type="text" id="specific-start">
      <input type="text" id="specific-finish">
      <input type="submit" value="Search">
    </form>
    <table id="specific-race-table">
    <tr id="specific-race-header">
  </tr>
  <tbody id="specific-race-table-content">
</tbody>
</table> -->

</div>
  </body>
  <script type="text/javascript">
    document.getElementById('current-player').innerHTML = sessionStorage.getItem('wiki-race-player')
  </script>
  <script src="javascripts/home/getAllRaces.js"></script>
  <script src="javascripts/create/createRace.js"></script>
  <!-- <script src="javascripts/home/getSpecificRace.js"></script> -->
  <script src="javascripts/home/randomRace.js"></script>
  <script src="javascripts/home/storeRace.js"></script>
</html>
