<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/index.css">
    <title>Wiki Race</title>
  </head>
  <body>
    <h1>Wiki Race</h1>
    <h4>Enter your initials</h4>
    <form onsubmit="storePlayer()"  autocomplete="off">
      <input id="player" type="text" name="player" placeholder="---" autofocus>
      <br>
      <br>
      <input id="race-button" class="hidden" type="submit" value="Let's Race">
    </form>
  </body>
  <script src="javascripts/index/initialsInput.js"></script>
  <script src="javascripts/index/storePlayer.js"></script>
</html>
