<!DOCTYPE html>
<html>
  <head>
    <title>Wiki Race</title>
  </head>
  <body>
    <h1>Index Page</h1>
    <form onsubmit="storePlayer()">
      <input type="text" name="player" value="">
      <input type="submit" value="Let's Race">
    </form>
  </body>
  <script src="javascripts/index/storePlayer.js"></script>
</html>
