<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/stylesheets/master.css">
  <link rel="stylesheet" href="/stylesheets/race.css">
  <title>Wiki Race</title>
</head>
<body>
  <div id="fade-header"></div>
  <div class="container">

    <div id="race">

      <h1>Wiki Race</h1>
      <a href="/home">New Race</a>

      <h2 id="from-to"></h2>

      <h3 id="timer"></h3>

      <h2>Links hit: <span id="num-links-hit"></span></h2>
      <ul id="links-hit"></ul>

      <div id="article-separator"></div>

      <h2 id="article-title"></h2>
      <div id="article"></div>
    </div>

    <div id="race-results-container" class="hidden">
      <h1>You Won!</h1>
      <div id="results">
        <h2>Race results</h2>
        <h3 id="from-to-results"></h3>
        <ul id="links-hit-results">

        </ul>
        <div class="links-speed">
          <p>Clicks</p>
          <p id="clicks-results"></p>
        </div>
        <div class="links-speed">
          <p>Time</p>
          <p id="speed-results"></p>
        </div>
        <br>
        <br>
        <a href="/home">New Race</a>
        <a href="" onclick="tryAgain()">Try again?</a>
      </div>
    </div>

  </div>

</body>
<script src="javascripts/race/raceState.js"></script>
<script src="javascripts/race/nextArticle.js"></script>
<script src="javascripts/race/startRace.js"></script>
<script src="javascripts/race/timer.js"></script>
<script src="javascripts/race/tryAgain.js"></script>
</html>
