<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/master.css">
    <link rel="stylesheet" href="/stylesheets/race.css">
    <title>Wiki Race</title>
  </head>
  <body>

    <div id="race">

      <a href="/home">New Race</a>

      <h1>Wiki Race</h1>

      <h2 id="from-to"></h2>

      <h3 id="timer"></h3>

      <h2>Links hit:</h2>
      <ul id="links-hit"></ul>
      <h2 id="article-title">
      </h2>
      <div id="article"></div>
    </div>

    <div id="race-results" class="hidden">
      <h1>You Won!</h1>
      <h2>Race results</h2>
      <h3 id="from-to-results"></h3>
      <ul id="links-hit-results">

      </ul>
      <div class="links-speed">
        <p>Clicks</p>
        <p id="clicks-results"></p>
      </div>
      <div class="links-speed">
        <p>Time</p>
        <p id="speed-results"></p>
      </div>
      <br>
      <br>
      <a href="/home">New Race</a>
      <a href="" onclick="tryAgain()">Try again?</a>
    </div>

  </body>
  <script src="javascripts/race/raceState.js"></script>
  <script src="javascripts/race/nextArticle.js"></script>
  <script src="javascripts/race/startRace.js"></script>
  <script src="javascripts/race/timer.js"></script>
  <script src="javascripts/race/tryAgain.js"></script>
</html>
