<!DOCTYPE html>
<html>
  <head>
    <title>Wiki Race</title>
  </head>
  <body>

    <a href="/home">New Race</a>

    <h1>Wiki Race</h1>
    <h2>Links hit:</h2>
    <ul id="links-hit"></ul>
    <h2 id="article-title">
    </h2>
    <div id="article"></div>
  </body>
  <script src="javascripts/race/completeRace.js"></script>
  <script src="javascripts/race/nextArticle.js"></script>
  <script src="javascripts/race/index.js"></script>
</html>
