body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited{
  color: blue;
}

button {
  cursor: pointer;
}

.race-button {
  cursor: pointer;
  color: blue;
  background: none;
  border: none;
}

.race-button:hover {
  text-decoration: underline;
}
