body {
  font-family: sans-serif;
  background-color: #f9f9f9;
  height: 100%;
}

#fade-header {
  height: 50px;
  background-color: pink;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 99%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 99%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 99%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.container {
  height: 100%;
  margin: 0 auto;
  padding: 20px;
  width: 80%;
  background-color: white;
  border-left: 1px solid #a7d7f9;
  border-right: 1px solid #a7d7f9;
  border-bottom: 1px solid #a7d7f9;
}

form {
  autocomplete: off;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited{
  color: blue;
}

button {
  cursor: pointer;
}

.race-button {
  cursor: pointer;
  color: blue;
  background: none;
  border: none;
}

.race-button:hover {
  text-decoration: underline;
}
